body{
    font-family: 'Noto Serif JP', serif;
    line-height: 1.7;
    color: #432;
    margin: 0px;
    padding: 0px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 4%;
    padding-right: 4%;
}
a {
    text-decoration: none;
}
.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: #03071aea;
}
.main-nav a:hover {
    color:#4c6f2d;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
main {
    text-align: center;
    margin-top: 5%;
}
main p {
    font-size: 1.5rem;
    margin: 10px 0 42px;
    text-align: center;
}

/* Title */
.title {
    color: rgb(17, 26, 34);
    font-size: 5rem;
    font-family: 'Nunito', sans-serif;
    text-transform: capitalize;
    font-weight: normal;
    animation: SlideIn 7.5s;
    padding-top: 80px;
}

/* Animation */
@keyframes SlideIn {
    0% {
    opacity: 0;/*初期状態では透明に*/
    transform: translateX(64px);
    }
    100% {
    opacity: 1;
    transform: translateX(0);
    }
}

/* Button */
#button {
    font-size: 1.5rem;
    background: #ffffff20;
    color: rgb(17, 26, 34);
    border-radius: 5px;
    padding: 18px 32px;
    text-align: center;
    position: relative;
    box-shadow: 0 3px #dadce2dc;
    top: -2px;
}
.button-position {
    text-align: center;
    margin-top: 50px;
}
#button:hover {
    color: #ffffff;
    background: rgb(17, 26, 34);
    box-shadow: 0 1px #b48a91dc;
    top: 1px;
}

/* background */
.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
#home {
    background-image: url("../../images/index-img/main-bg_1.jpg"), radial-gradient(#f8f7e5bb, hsla(61, 92%, 91%, 0.575));
    background-blend-mode: soft-light;
    min-height: 100vh;
}
.slide-up {
    animation: SlideUp 5.5s ;
}
@keyframes SlideUp {
    0% {
    opacity: 0;
    transform: translateY(64px);
    }
    100% {
    opacity: 1;
    transform: translateY(0);
    }
}

/* Responsible design */
@media (max-width: 600px) {
    .title {
        font-size: 2.5rem;
    }
    main p {
        font-size: 1rem;
    }
    .main-nav {
        font-size: 1rem;
        padding-top: 20px;
    }
    .main-nav li {
        margin: 0 20px;
    }
    header {
        flex-direction: column;
        align-items: center;
    }
}