body {
  font-family: "Noto Serif JP", serif, "游ゴシック", YuGothic,
      "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo,
      "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; /* font-familyの先頭から順にブラウザごとに可能な書体で表示される(今回で言えば游ゴシックの優先度が一番高い) */
  color: #432;
  line-height: 1.7;
}

#panel {
  display: none;
  background-color: #5b5d5b70;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0; 
}
#panel.open {
  display: block;
}

/* 全体の横幅を設定 */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box; /* 「width」の幅を「padding」分引く必要がなくなる */
}

/* headerの設定 */
header {
  background-image: url(../../images/other-img/header/future-2023_1.png),
      radial-gradient(#c1bab4bb, hsla(0, 7%, 14%, 0.91));
  background-blend-mode: lighten;
  background-size: cover;
}
/* ロゴとナビゲーションの親要素にレイアウトの設定をする */
.nav-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 400px;
}
/* ハンバーガーメニュー レスポンシブ以外は非表示 */
.list-layout {
  display: none;
}
.nav-elements {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase; /* 全て大文字 */
  list-style: none;
}
.nav-elements li {
  margin-left: 30px;
}
.nav-elements a {
  text-decoration: none;
  color: #0b122360;
  font-family: "Noto Serif JP", serif;
}
.nav-elements a:hover {
  color: #03071aea;
}
.page-title {
  font-size: 80px;
  padding-bottom: 32px;
  position: absolute;
  bottom: 120px;
  right: 50px;
  color: #0b122360;
  font-family: "Noto Serif JP", serif;
}
.page-title-position {
  position: relative;
}

/* 画像のポジショニング等 */
.img-solo {
  margin: 20px 0;
}
.img-solo img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

/* メインの設定 */
.contents {
  display: flex;
}
.main-contents {
  min-width: 150px;
  flex: 8;
  margin-top: 30px;
  background-color: #ffffff;
}
.post-info {
  position: relative;
}
.post-title {
  font-family: "Noto Serif JP", serif;
  font-size: 2rem;
  font-weight: normal;
  padding-top: 16px;
}
.post-title,
.post-cat {
  margin-left: 120px;
  line-height: 1;
}
.post-cat {
  padding-top: 20px;
  font-size: 18px;
}
.post-date {
  background-color: rgb(17, 26, 34);
  border-radius: 50%;
  color: #ffffff;
  width: 80px;
  height: 80px;
  font-size: 24px;
  text-align: center;
  position: absolute;
  top: 0;
  padding-top: 8px;
  line-height: 1.5;
}
.post-date span {
  font-size: 1.6rem;
  display: block;
  margin: 0 auto;
}
.common-title {
  font-family: "Noto Serif JP", serif;
  font-size: 1.5rem;
  border-left: solid 5px #0b122360;
  border-bottom: solid 3px #ced4dd6c;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 8px 0 8px 8px;
  background: rgba(255, 246, 246, 0.383);
  color: #2e3746ca;
}
main p {
  padding: 10px;
}
article p {
  padding-left: 20px;
  text-align: justify;
}

/* 箇条書き用 */
.bullet {
  padding-left: 10px;
  max-width: 330px;
  background-color: #fef9f9;
  border-radius: 20px;
  margin-left: 20px;
}
.bullet-title {
  color: #166bb0;
  font-size: 28px;
  font-weight: bold;
  padding: 10px 0 10px 5px;
} 
.bullet-list {
  padding-left: 20px;
}
.bullet-list li {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 1.7;
}

/* aside */
aside {
  max-width: 300px;
  padding-left: 40px;
  flex: 3;
}
.mini-title {
  display: none;
} 
.sub-menu {
  margin-bottom: 60px;
  list-style: none;
}
.sub-menu li {
  border-bottom: solid 1px #ddd;
}
.sub-menu a {
  color: #432;
  padding: 10px;
  display: block;
  text-decoration: none;
}
.sub-menu a:hover {
  color: #273a2ce0;
  font-size: 18px;
}
.sub-title {
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px rgba(225, 235, 243, 0.959) solid;
  font-weight: normal;
  margin-top: 30px;
}

/* footerの設定 */
/* ボタン全体の装飾 */
.flowbtn4 {
font-family: "Trebuchet MS", sans-serif;
border-radius: 50%;
display: inline-block;
width: 70px;
height: 60px;
font-size: 30px;
transition: 0.5s;
text-decoration: none;
padding-top: 10px;
}
/* ボタンマウスホバー時テキストカラー */
.flowbtn4:hover {
color: #fff !important;
}
/* Twitter */
.flowbtn4.fl_tw2 {
border: solid 1px #55acee;
color: #55acee;
}
/* Twitterマウスホバー時 */
.flowbtn4.fl_tw2:hover {
border: solid 1px #55acee;
background: #55acee;
}
/* Facebook */
.flowbtn4.fl_fb2 {
border: solid 1px #3b5998;
color: #3b5998;
}
/* Facebookマウスホバー時 */
.flowbtn4.fl_fb2:hover {
border: solid 1px #3b5998;
background: #3b5998;
}
/* Pocket */
.flowbtn4.fl_pk2 {
border: solid 1px #ef3f56;
color: #ef3f56;
}
/* Pocketマウスホバー時 */
.flowbtn4.fl_pk2:hover {
border: solid 1px #ef3f56;
background: #ef3f56;
}
/* はてブ */
.flowbtn4.fl_hb2 {
border: solid 1px #1ba5dc;
color: #1ba5dc;
}
/* はてブマウスホバー時 */
.flowbtn4.fl_hb2:hover {
border: solid 1px #1ba5dc;
background: #1ba5dc;
}
/* LINE */
.flowbtn4.fl_li2 {
border: solid 1px #00c300;
color: #00c300;
}
/* LINEマウスホバー時 */
.flowbtn4.fl_li2:hover {
border: solid 1px #00c300;
background: #00c300;
}
/* ボタン内テキスト調整 */
.flowbtn4 div {
font-size: 11px;
font-weight: bold;
position: relative;
bottom: 10px;
padding-top: 14px;
}
/* ulタグの内側余白を０にする */
ul.snsbtniti {
padding: 0 !important;
list-style-type: none !important;
}
/* ボタンの位置 */
.snsbtniti {
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
}
/* ボタン同士の余白 */
.snsbtniti li {
flex: 0 0 19%;
text-align: center !important;
}

/* SHARE */
.sns-btn {
margin: 0 auto;
text-align: center;
}

/*記事下部のシェアボタン*/
.sns-btn__title {
display: inline-block;
position: relative;
padding: 0 25px;
color: #c6d0eb;
font-size: 22px;
font-weight: bold;
line-height: 1;
letter-spacing: 1px;
margin-top: 20px;
margin-bottom: 20px;
}
.sns-btn__title:before,
.sns-btn__title:after {
display: inline-block;
position: absolute;
top: 50%;
width: 20px;
height: 3px;
border-radius: 3px;
background-color: #c6d0eb;
content: "";
}
.sns-btn__title:before {
left: 0;
transform: rotate(50deg);
}
.sns-btn__title:after {
right: 0;
transform: rotate(-50deg);
}

/* デスクトップPCでは高さを拡張する */
@media screen and (min-width: 480px) {
  .social-area-syncer {
      min-height: 119px;
  }
}

/* お問い合わせなど */
.footer-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}
.footer-nav {
  flex: 8;
  padding: 0 30px;
  box-sizing: border-box;
}
.footer-right{
  flex: 3;
}

/* Form見出し */
.form-title {
  position: relative;
  padding: 0.5em;
  background: rgb(17, 26, 34);
  color: white;
  margin-top: 50px;
}

.form-title::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(17, 26, 34);
}

/* お問い合わせフォーム */
.form-free {
  border-radius: 7px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #0e1735dd;
  color: #fff;
  font-size: 14px;
}
.form {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
@media screen and (max-width: 480px) {
  .form {
      margin-top: 40px;
  }
}
.form-item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: right;
}
@media screen and (max-width: 480px) {
  .form-item {
      padding-left: 14px;
      padding-right: 14px;
      padding-top: 16px;
      padding-bottom: 16px;
      flex-wrap: wrap;
  }
}
.form-item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}
.form-item-label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .form-item-label {
      max-width: inherit;
      display: flex;
      align-items: center;
      font-size: 15px;
  }
}
.form-item-label.ismsg {
  margin-top: 8px;
  margin-bottom: auto;
}
@media screen and (max-width: 480px) {
  .form-item-label.ismsg {
      margin-top: 0;
  }
}
.form-item-label-required {
  border-radius: 7px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: rgb(17, 26, 34);
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .form-item-label-required {
      border-radius: 4px;
      padding-top: 4px;
      padding-bottom: 4px;
      width: 32px;
      font-size: 10px;
  }
}
.form-item-input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .form-item-input {
      margin-left: 0;
      margin-top: 18px;
      height: 40px;
      flex: inherit;
      font-size: 15px;
  }
}
.form-item-textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .form-item-textarea {
      margin-top: 18px;
      margin-left: 0;
      height: 200px;
      flex: inherit;
      font-size: 15px;
  }
}
.form-btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: rgb(17, 26, 34);
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border-style: none;
}
.form-btn:hover {
  background-color: #b10a0af5;
}
@media screen and (max-width: 480px) {
  .form-btn {
      margin-top: 24px;
      padding-top: 8px;
      padding-bottom: 8px;
      width: 160px;
      font-size: 16px;
  }
}

footer p {
  text-align: center;
  border-top: solid 2px rgba(226, 219, 219, 0.663);
  font-family: "Noto Serif JP", serif;
  color: rgba(49, 41, 41, 0.663);
  padding: 24px 0;
  margin-top: 36px;
}

/* スライダーの設定 */
.slider {
  list-style: none;
  margin-top: 70px;
}
.slider img {
  width: 80%;
  margin: 0 auto;
}
.slick-prev:before,
.slick-next:before {
color: #000;
}
.slick-next {
  right: 12%;
}
.slick-prev {
  left: 12%;
  z-index: 1;
}


/* ボタンの設定 */
.link-button {
background: #fbae7ad0;
border-radius: 20px;
width: 150px;
height: 40px;
padding: 5px;
margin: 5px 0 10px 0;
}
.link-button a {
color: white;
font-family: 'Noto Serif JP', serif;
font-weight: bold;
}
.link-button:hover {
background: rgb(159, 217, 240);
}

/* 黄色の下線と赤太字の強調 */
.yellow-line {
  background: linear-gradient(transparent 80%, yellow 80%);
}
.red {
  font-weight: bold;
  color: red;
}

/* youtube */
.youtube {
  margin-top: 30px;
  text-align: center;
}

/* jquery.yycountdown.css */
.inner {
  padding-top: 50px;
}
#birthday {
  text-align: center;
  font-size: 40px;
  margin-bottom: 24px;
}
#birthday span {
  color: #f1bbd0e2;
}
#nextbirthday {
  text-align: center;
  font-size: 24px;
  margin-bottom: 24px;
}

.yycountdown-box {
  text-align: center;
  margin: 10px 0;
  color: #000000;
}
#timer .yycountdown-box .yyc-day {
  font-size: 3em;
  color: #0085c7;
}
#timer .yycountdown-box .yyc-hou {
  font-size: 3em;
  color: #f4c300;
}
#timer .yycountdown-box .yyc-min {
  font-size: 3em;
  color: #009f3d;
}
#timer .yycountdown-box .yyc-sec {
  font-size: 3em;
  color: #df0024;
}
#timer .yycountdown-box .yyc-day-text,
#timer .yycountdown-box .yyc-hou-text,
#timer .yycountdown-box .yyc-min-text,
#timer .yycountdown-box .yyc-sec-text {
  font-size: 1em;
}

/* responsible design */
@media (max-width: 600px) {
  .page-title {
      font-size: 2.5rem;
      padding-right: 20px;
  }
  header .container {
      background-position: center top;
      margin: 0 auto;
      padding: 0 30px;
      box-sizing: border-box; /* 「width」の幅を「padding」分引く必要がなくなる */
  }
  .list-layout {
    display: block;
  }
  #list_menu {
    width: 46px;
  }
  .nav-elements {
      font-size: 1rem;
      margin-top: 10px;
      flex-direction: column;
      padding-left: 20px;
  }
  .nav-elements li {
      margin: 10px 3px;
      padding-right: 20px;
  }
  header {
      background-image: url(../../images/other-img/header/23316754.jpg),
          radial-gradient(#262833bb, hsla(235, 5%, 51%, 0.91));
      background-blend-mode: lighten;
      background-size: cover;
      background-position: right top;
  }
  header .nav-elements {
    display: none;
  } 
  /* ロゴとナビゲーションの親要素にレイアウトの設定をする */
  .nav-position {
      padding-bottom: 300px;
  }
  .page-title {
      font-size: 48px;
      position: absolute;
      bottom: 50px;
      right: 20px;
      color: #0b122360;
      font-family: "Noto Serif JP", serif;
  }
  .contents {
      flex-direction: column;
      padding: 0 20px;
      font-size: 14px;
  }
  .main-contents {
      width: 100%;
  }
  .mini-title {
      display: block;
  }

  /* humberger-menu */
  aside {
      padding-left: 0px;
      position: fixed;
      top: 0;
      background-color: #ffffff70;
      height: 100vh;
      z-index: 11; /* スライダーの矢印より前面に表示する為 */
      width: 250px;
      right: -250px;
      transition: all 0.3s;
      color: #2e2f4c;
  }
  aside.open{
      right: 0px;
  }
  .sub-title {
      font-weight: bold;
      font-size: 1.25rem;
      border-bottom: none;
      margin-top: 20px;
  }
  .footer-nav {
      width: 100%;
  }
  .post-info {
      margin-bottom: 30px;
  }
  .post-date {
      width: 50px;
      height: 50px;
      font-size: 1rem;
  }
  .post-date span {
      font-size: 1rem;
      padding-top: 8px;
  }
  .post-title {
      font-size: 1.15rem;
  }
  post-cat {
      font-size: 0.25rem;
      margin-top: 2px;
  }
  .post-title,
  .post-cat {
      margin-left: 110px;
  }
  article p {
      padding-left: 10px;
      text-align: justify;
  }
  .container {
      padding: 0;
      box-sizing: border-box; /* 「width」の幅を「padding」分引く必要がなくなる */
  }
  .form-title {
      margin-right: 0px;
  }
  form {
      padding: 0 20px;
  }
  .flowbtn4 {
    font-family: "Trebuchet MS", sans-serif;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 45px;
    font-size: 12px;
    transition: 0.5s;
    text-decoration: none;
    padding-top: 5px;
  }
  .logo-box {
      flex:1;
  }
  .logo {
      max-width: 241px;
      width: 100%;
  }
  .footer-right{
      display: none;
  }

  /* slider */
  .slider {
      margin-top: 60px;
  }
  .slider img {
      width: 70%;
  }
  .slick-next {
      right: 17%;
  }
  .slick-prev {
      left: 17%;
  }
} 