body {
  min-width: 1200px;
}

.container {
  /* 複数の箇所で使い回すクラス。主要なタグの後ろに付ける */
  /* 親要素となるクラスでレイアウトの設定を行う */
  width: 1200px;
  margin: 0px auto;
  padding: 0px 40px;
  box-sizing: border-box; /* 「width」の幅を「padding」分引く必要がなくなる(自動で引かれる) */
}

/* headerの設定 */
.header {
  background-image: url(sample_img/sample-header_14.jpg);
  background-size: cover;
  padding-bottom: 30px;
}
.nav-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.header-nav {
  list-style: none;
  display: flex;
}

.header-nav li {
  margin-left: 30px;
}
.header-nav a {
  color: #ffffff;
  text-decoration: none;
}
.header-text {
  /* img要素を中央寄せするときは「text-align: center;」を使う？要確認 */
  padding: 20px;
  color: rgba(43, 88, 177, 0.736);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  background-color: #ffffff90;
  margin: 0px auto;
  width: 800px;
  margin-top: 100px;
}
.header-text p {
  text-align: left;
  display: inline-block;
}

/* footerの設定 */
.footer {
  margin-top: 50px;
  border-top: solid 2px #80808033;
}
/* .footer-menu { 「footer-nav」クラスでレイアウトを設定するため不要
  justify-content: center;
  display: flex;
} */
.footer-nav {
  display: flex;
  justify-content: center;
  gap: 40px; /* ← 「display: flex;」と同時に使える左右の余白を設定するプロパティ */
  list-style: none;
}
.footer-nav li {
  padding: 40px 0px; /* 親要素で「gap: 40px;」の設定があるため上下のみに設定 */
}

.footer-nav a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 100;
  color: #000000;
  font-family: "メイリオ", Meiryo, sans-serif;
}
.footer p {
  background-color: #4377e7d1;
  letter-spacing: 0.1em;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #000000;
  font-family: "ＭＳ Ｐゴシック", sans-serif;
}
